a{
	text-decoration: none;
}
.gl-banner{
	width: 100%;
	height: 3.9rem;
	background: #3B74E8;
	position: relative;
}
.gl-titleBox{
	width: 100%;
	height: 0.44rem;
	/* background: red; */
	/* transform: translate(0rem, 0.2rem); */
	/* overflow: hidden; */
	padding-top: 0.2rem;
	margin-bottom: 0.34rem;
}
.gl-back{
	width: 0.44rem;
	/* background: yellow; */
	margin-left: 0.28rem;
	float: left;
}
.gl-back img{
	width: 0.44rem;
	/* height: 0.44rem; */
	display: block;

}
.gl-title{
	width: 100%;
	/* float: right; */
	/* background: yellow; */
	text-align: center;
	
}
.gl-title p{
	padding-right: 0.72rem;
	color: white;
	font-size: 0.34rem;
	line-height: 0.44rem;
}
.gl-tcontent1{
	margin-top: 0.34rem;
	margin: auto;
	width: 6.38rem;
	height: 0.12rem;
	background: #5893FF;
	border-radius: 0.18rem;
	border: 0.02rem solid #1B5FDD;
	overflow: hidden;
    
}
.gl-tcontent2{
	width: 5.82rem;
	transform: translate(0rem, 0.06rem);
	background:#BFBFBF;
	border-radius: 0.18rem; 
	margin: auto;
	height: 0.12rem;
}
.gl-tcontent3{
	width: 5.69rem;
	height: 0.18rem;
	margin: auto;
	background: #31AF27;
	border-radius: 0.18rem;
	
}
.gl-tcontent4{
	width: 5.67rem;
	height: 0.22rem;
	background: #F69F22;
	position: absolute;
	top: 5.13rem;
	left: 0.92rem;
	border-radius: 0.05rem;
}
.gl-tcontent5{
	width: 5.67rem;
	height: 4.08rem;
	background: #FFFFFF;
	position: absolute;
	top: 1.10rem;
	left: 0.92rem;
}
.gl-tcontent5Son1{
	width: 5.6rem;
	height: 1.36rem;
	margin: auto;
	/* background: red; */
	box-sizing: border-box;
	border-bottom: 0.02rem solid #C4C4C4;
	border-top: 0.01rem;
	padding-top: 0.01rem;
}
.gl-tcontent5Son1:nth-child(3){
	border-bottom: 0rem;
}
.gl-tcontent5Son1-1{
	width: 100%;
	height: 0.72rem;
	/* background: blue; */
	margin-top: 0.3rem;
}
.gl-tcontent5Son1-1-son1{
	width: 0.74rem;
	height: 0.74rem;
	float: left;
}
.gl-tcontent5Son1-1-son1 img{
	width: 0.71rem;
}
.gl-tcontent5Son1-1-son1{
	width: 0.72rem;
}
.gl-tcontent5Son1-1-son2{
	width: 2.83rem;
	height: 0.65rem;
	/* background: yellow; */
	float: left;
	margin-left: 0.16rem;
	margin-top: 0.06rem;
}
.gl-tcontent5Son1-1-son2-top{
	width: 100%;
	height: 0.35rem;
	/* background: green; */
}
.gl-tcontent5Son1-1-son2-top-1{
	width: 1.3rem;
	height: 0.27rem;
	float: left;
	/* background: red; */
}
.gl-tcontent5Son1-1-son2-top-1 strong{
	font-size: 0.2rem;
    line-height: 0.35rem;
    font-weight: bolder;
}
.gl-tcontent5Son1-1-son2-top-2{
	width: 0.2rem;
	float: left;
	margin-left: 0.12rem;
}
.gl-tcontent5Son1-1-son2-top-2 img{
	width: 0.2rem;
}
.gl-tcontent5Son1-1-son2-top-3{
	width: 0.42rem;
	height: 0.22rem;
	background: red;
	border-radius: 0.22rem;
	float: left;
	text-align: center;
	margin-top: 0.04rem;
	margin-left: 0.38rem;
}
.gl-tcontent5Son1-1-son2-top-3 p{
	font-size: 0.2rem;
	color: white;
	line-height: 0.22rem;
}
.gl-tcontent5Son1-1-son3{
	width: 100%;
	height: 0.03rem;
}
.gl-tcontent5Son1-1-son3 .gl-leftcircle{
	width: 0.03rem;
	height: 0.03rem;
	border-radius: 50%;
	background: #C4C4C4;
	float: left;
}
.gl-tcontent5Son1-1-son3 .gl-line{
	width: 0.94rem;
	height: 0.01rem;
	background: #C4C4C4;
	float: left;
	margin-top: 0.01rem;
}
.gl-tcontent5Son1-1-son3 .gl-rightcircle{
	width: 0.03rem;
	height: 0.03rem;
	border-radius: 50%;
	background: #C4C4C4;
	float: left;
}
.gl-tcontent5Son1-1-son4{
	width: 100%;
	height: 0.3rem;
}
.gl-tcontent5Son1-1-son4 p{
	font-size: 0.2rem;
	color: #424347;
}
.gl-tcontent5Son1-1-son5{
	width: 0.63rem;
	height: 0.72rem;
	/* background: red; */
	float: right;
}
.gl-tcontent5Son1-1-son5 .gl-son5-1{
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	border: 0.01rem solid black;
	background: white;
	float: left;
	margin-top: 0.3rem;
}
.gl-tcontent5Son1:hover .gl-son5-1{
	background: #09BB07;
}
.gl-tcontent5Son1:nth-of-type(2):hover .gl-son5-1{
	background: #09BB07;
}
.gl-tcontent5Son1:nth-of-type(3):hover .gl-son5-1{
	background: #09BB07;
}
.gl-tcontent5Son1:nth-of-type(2) .gl-son5-1{
	background: white;

}
.gl-tcontent5Son1:nth-of-type(3) .gl-son5-1{
	background: white;

}
.gl-tcontent5Son1:nth-of-type(2) .gl-line{
	width: 0.74rem;
}
.gl-tcontent5Son1:nth-of-type(3) .gl-line{
	width: 0.74rem;
}
/* .......................... */
.gl-content1{
	width: 6.31rem;
	height: 1.97rem;
	/* background: blue; */
	margin: auto;
	margin-top: 1.45rem;
}
.gl-contentSon1{
	width: 4rem;
	height: 0.7rem;
	/* background: yellow; */
	/* margin: auto; */
	transform: translate(0.33rem, 0.27rem);
}
.gl-contentSon1-1{
	width: 0.68rem;
	height: 0.7rem;
	float: left;
}
.gl-contentSon1-1 img{
	width: 100%;
}
.gl-contentSon1-2{
	width: 3rem;
	height: 0.56rem;
	/* background: red; */
	float: right;
	margin-top: 0.07rem;
}
.gl-contentSon1-2 p{
	font-size: 0.20rem;
	color: #7E7C7C;
	/* text-decoration: underline; */
	/* line-height: 0.24rem; */
}
.gl-contentSon1-2underline{
	width: 0.82rem;
	height: 0.02rem;
	background: #969696;

}
.gl-contentSon1-2 span{
	font-size: 0.20rem;
	color: #7E7C7C;
	font-weight: bolder;

}
.gl-content2{
	width: 100%;
	height:4.78rem; 
}
.gl-content2 img:nth-of-type(1){
	margin-left: 0.6rem;
	width:3rem;
	display: block;
	float: left;
}
.gl-content2 img:nth-of-type(2){
	margin-right: 0.6rem;
	width:3rem;
	display: block;
	float: right;
}
/* ............ */
.gl-footer{
	width: 100%;
	height: 0.98rem;
	background: #31AF27;
	border-top: 1px;
	padding-top: 1px;
}
.gl-footer a{
	text-decoration: none;
	display: block;
}
.gl-footerSon{
	width: 2.07rem;
	height: 0.48rem;
	margin: auto;
	/* background: red; */
	margin-top: 0.25rem;
}
.gl-footerSon-1{
	width: 0.44rem;
	height: 0.44rem;
	float: left;
	border-radius: 50%;
	background: white;
	text-align: center;
	line-height: 0.44rem;
	border: 0.02rem solid #33962B;
}
.gl-footerSon-1 img{
	width: 0.3rem;
	transform: translate(0.01rem, -0.01rem);

}
.gl-footerSon-2{
	width: 1.5rem;
	height: 0.48rem;
	/* background: blue; */
	float: left;
	margin-left: 0.09rem;
}
.gl-footerSon-2 p{
	font-size: 0.2rem;
	color: white;
	line-height: 0.22rem;
}
.gl-footerSon-2 span{
	font-size: 0.2rem;
	color: white;
	line-height: 0.23rem;
}