*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: "微软雅黑","苹方";
}
.fxy{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.fxy img{
	width: 100%;
}


.fxy .xy-icon{
	position: absolute;
	top: 0.64rem;
	left: 0.25rem;
}
.fxy .xy-icon1{
	position: absolute;
	top: 0.64rem;
	left: 3.25rem;
}
.fxy .xy-icon2{
	position: absolute;
	top: 0.64rem;
	right: 0.25rem;
}


.xy-photo{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.xy-photo ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	bottom: 4rem;
	/* left: 0.4rem; */
}
.xy-photo ul>li{
	width: 20%;
	height: auto;
	float: left;
	text-align: center;
	
}
.xy-photo ul>li>img{
	width: 100%;

}

.xy-photo ul>li>a>span{
	font-size: 0.25rem;
	color: white; /* auto待更改 */
	
	display: inline-block;
}

.xy-dibu{
	width: 100%;
	height: 2.86rem;
	background: #3B74E8;
	overflow: hidden;
	line-height: 2.86rem;

}
.xy-dibu ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: inline-block;

}

.xy-dibu ul>li{
	width: 33.33%;
	height: auto;
	text-align: center;
	float: left;
}
.xy-dibu ul>li>a{
	display: inline-block;

}
.xy-dibu ul>li>a>img{
	width: 100%;
}
.xy-dibu .xyf img{
	width: 0.7rem;
	height: 0.7rem;
}
.xy-dibuzi span{
	font-size: 0.2rem;
	color: white;
	position: absolute;
	bottom: 0.7rem;
	left: 0.84rem;
}
.xy-dibuzi1 span{
	font-size: 0.2rem;
	font-size: 0.2rem;
	color: white;
	position: absolute;
	bottom: 0.7rem;
	right: 0.84rem;
}


